@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Yellowtail&display=swap');
* {
    font-family: 'Titillium', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root {
    /* Colors */
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Comfortaa", sans-serif;
    --font-text: "Lato", sans-serif;
  }
  
  /* RESET */
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h2,
  p {
    margin: 0;
  }

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

/*--SECTION HOME--*/

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('img/setup-programmer.jpeg');
    background-size: cover;
    background-position: center center;
    color: #fff;    
}

.home .section__content {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

/* .home .section__content header {
    padding: 30px;    
} */

/*--Lateral Menu --*/

/* .home .section__content header nav {
    position: fixed;
    margin-left: 60px;
    background-color: #202020;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 9999;
    display: none;
    transition: all .3s ease-in-out;
} */

/* .home .section__content header nav a{
    display: block;
    color: ghostwhite;
    text-decoration: none;
    margin-bottom: 10px;
} */

/* .home .section__content header nav a:hover {
    color: yellow;
} */


/* ****** */

/*  .home .section__content header .logo {
    width: 60px;
    height: 60px;
    border: 2px solid #d9ad26;
    border-radius: 50%;
    box-shadow: 0 0 35px #d9ad26;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa';
    text-shadow: 0 0 35px #fff;
    margin: 0 auto;
} */

/* .home .section__content header .logo .text__logo {
    color: #d9ad26;
    font-size: 1.5rem;
    font-family: 'Comfortaa';
    font-weight: bold;
 */

/* .home .section__content header .nav-bar {
    position: fixed;
    background-color: #000;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border: 2px solid #d9ad26;
    border-radius: 50%;
    line-height: 45px;
    color: #d9ad26;
    cursor: pointer;
    transition: 0.3s;
} */

.home .section__content header .nav-bar:hover {
    box-shadow: 0 0 35px #d9ad26;    
}

.home .section__content .info {
    padding-bottom: 130px;
    padding-top: 100px;
}

.home .section__content .info h1 {
    font-family: 'Comfortaa';
    font-size: 3rem;
    letter-spacing: 5px;
}

.home .section__content .info h2 {
    font-weight: normal;
    font-size: 20px;
    font-family: 'Comfortaa';
    
}

.home .section__content .info h3 {
    font-weight: normal;
    font-size: 1rem;
    font-family: 'Comfortaa';
    
    letter-spacing: 1px;
}

.home .section__content .info .social__networks {
    margin: 20px 0;
}

.home .section__content .info .social__networks a {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #C71585;
    border: 1px solid  #C71585;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    line-height: 40px;
    margin: 0 5px;
    transition: 0.3s;    
}

.home .section__content .info .social__networks a:hover {
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}

.home .section__content .info .btn__cv {
    padding: 9px 15px;
    background-color: #000;
    width: 150px;
    margin: auto;
    border: 1px solid #d9ad26;
    border-radius: 0.3em;
    box-shadow: 0 0 20px #d9ad26;
}

.home .section__content .info .btn__cv:hover {
    background-color: #101010;
    color: #bab9b9;
    transition: all 0.3s ease-in-out;
}

.home .section__content .info .btn__link {
    color: #d9ad26;    
    text-decoration: none;
    font-family: 'Comfortaa';
}


.home .section__content .photo {
    position: relative;
}

.home .section__content .photo img {
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #d9ad26;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}

/*--General Styles --*/

.section__title {
    font-family: 'Comfortaa';
    color: #d9ad26;
    text-transform: uppercase;
}

.section__label {
    font-family: 'Comfortaa';
    color: ghostwhite;
    text-transform: capitalize;
}
/*--SECTION ABOUT ME --*/

.aboutme {
    background-color: #101010;
    padding: 140px 0 100px 0;
    text-align: center;
}

.aboutme .section__content {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;    
}

.aboutme .section__content h3 {
    /* text-transform: uppercase; */
    font-size: 1.5em;
}

.aboutme .section__content .special {
    color: ghostwhite;
    font-size: 15px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    text-align: justify;
    font-family: 'Comfortaa';
}

.aboutme .section__content .normal {
    color: #dcdcdc;
    font-size: 15px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    text-align: justify;
    font-family: 'Comfortaa';
}

.aboutme .section__content p {
    max-width: 700px;
    margin: auto;
    color: #666;
}

.aboutme .section__content .row {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.aboutme .section__content .row .col {
    width: 30%;
    
}

.aboutme .section__content .row .col i {
    color: #d9ad26;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #d9ad26;
    line-height: 40px;
    border-radius: 50%;
}

.aboutme .section__content .row .col span {
    display: block;
    /* font-weight: bold; */
    margin: 8px 0;
}
.paragraph {
    font-size: 15px;
    color: #dcdcdc !important;
    letter-spacing: 0.3px;
    text-align: center;
    font-family: 'Comfortaa';
    
}

.profile__item {
    color: #dcdcdc;
    font-size: 15px;
    letter-spacing: 0.3px;
    margin-top: 15px;
    text-align: left;
    font-family: 'Comfortaa';    
}

.detail__title {
    letter-spacing: 0.3px;
    color: ghostwhite;
    margin-top: 15px;
    text-align: center;
    font-family: 'Comfortaa';
    
}

/*--SECTION SKILLS --*/

.skills {
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('img/portada-nexo-creative.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: ghostwhite;
}

.skills .section__content {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.skills .section__content h3{
    /* text-transform: uppercase; */
    font-family: 'Comfortaa';
    font-size: 1.5em;
}

.skills .section__content .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap:20px;
    align-items: center;
    margin-top: 50px;
}

.icon__technologies {
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    /* width: 100px;
    height: 100px; */
    /* background: rgba(0, 0, 0, 0.1); */
    /* border-radius: 50%; */     
}

.icon__title {
    color: ghostwhite;
    font-family: 'Comfortaa';
}

.bx-icon-react {
    font-size: 60px;
    color: #61DBFB;
    
    text-align: center;
    align-items: center;
}
.bx-icon-react:hover {
    /* box-shadow: 0 0 35px #61DBFB; */ 
    border-radius: 50%;
    transition: all .2s ease;    
}

.bx-icon-redux {
    font-size: 60px;
    color: #764abc;
    text-align: center;
}
.bx-icon-redux:hover {
    /* box-shadow: 0 0 35px #764abc; */ 
    border-radius: 50%;
    transition: all .2s ease;    
}

.bx-icon-nodejs {
    font-size: 70px;
    color: #808080;
    text-align: center;
}
.bx-icon-nodejs:hover {
    /* box-shadow: 0 0 35px #808080;  */
    border-radius: 50%;
    transition: all .2s ease;    
}

.bx-icon-sequelize {
    width: 70px;
    padding: 5px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-sequelize:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    border-radius: 50%;
    transition: all .2s ease;    
}

.bx-icon-javascript {
    width: 70px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-javascript:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-nextjs {
    width: 70px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-nextjs:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-jestjs {
    width: 70px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-jestjs:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-postgres {
    width: 70px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-postgres:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-vitejs {
    width: 70px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-vitejs:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-typescript {
    width: 70px;
    padding: 7px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-typescript:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-mysql {
    width: 70px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-mysql:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-github {
    width: 70px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-github:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-git {
    width: 80px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-git:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-bootstrap {
    width: 70px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-bootstrap:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-corel {
    width: 70px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-corel:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-css-3 {
    width: 80px;
    padding: 10px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-css-3:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}

.bx-icon-html-5 {
    width: 80px;
    padding: 17px;
    color: #6495ED;
    text-align: center;
}
.bx-icon-html-5:hover {
    /* box-shadow: 0 0 35px #6495ED; */ 
    /* border-radius: 50%; */
    transition: all .2s ease;    
}




/* .skills .section__content .row {
    
} */

.skills .section__content .row .col {
    width: 47%;
    text-align: left;
}

.skills .section__content .row .col .cont__bar {
    display: flex;
    align-items: center;
}

.skills .section__content .bar {
    display: flex;
    border: 1px solid #940253;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

.skills .section__content .bar .e {
    background-color: rgb(255, 255, 255, 0.2);
    width: 18px;
    height: 30px;
    margin-right: 2px;
}

/*--CERTIFICATES --*/
.certificates {
    background-color: #202020;
    padding: 70px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}

.certificates .section__content {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.certificates .section__content h3 {
    font-family: 'Comfortaa';
    font-size: 1.5em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    margin-top: 30px;
    gap: 1.5em;

}

 .card__certificate{
border: 2px solid #940253;
border-radius: 0.5em;
    
} 
 .image__container img {
     width: 300px;
     padding: 10px;
 }
 
 .disabled {
     position: relative;

 }
 
 .disabled::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    background-size: cover;
    backdrop-filter: blur(2px);
    z-index: 1;
    border-radius: 0.5em;
 }
 
 .divider {
     width: 100%;
     border-bottom: 1px solid #940253;
 }
 
 .footer__image {
     padding: 15px 0;
     display: flex;
     flex-direction: column;
     align-content: center;
     align-items: center;
 }
 
 .certificate__title {
     font-family: 'Comfortaa';
 }
 
 .btn {
     margin-top: 20px;
     margin-bottom: 10px;
     display: inline-flex;
 }
 
 .btn__verify {
     padding: 7px 20px;
     border-radius: 0.5em;
     border: none;
     outline: none;
     background-color: #940253;
     color: ghostwhite;
     font-family: 'Comfortaa';
     font-weight: bold;
     text-decoration: none;
 }
 
 .btn__verify:hover {
    box-shadow: 0 0 35px #940253;
    transition: all .3s ease;     
 }
 
 /*--MY WORKS --*/
 
 .myworks {
    background-color: #000;
    padding: 70px 0 100px 0;
    text-align: center;
}
 
 .myworks .section__content .section__title {
     color: #d9ad26;
     font-family: 'Comfortaa';
 }

.myworks .section__content {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.myworks .section__content h3 {
    font-family: 'Comfortaa';
    color: #bab9b9;
    font-size: 1.5em;
}

.myworks .section__content .mywork__paragraph{
    margin-top: 30px;
    color: #bab9b9;
    text-align: justify;
    
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    margin-top: 30px;
    gap: 1.5em;

}

 .card__work{
border: 1px solid #bab9b9;
border-radius: 0.5em;
    
} 
 .image__container img {
     width: 100%;
     padding: 10px;
 }
  
 .divider {
     width: 100%;
     border-bottom: 1px solid #940253;
 }
 
 .footer__card {
     width: 100%;
     padding: 15px 10px;
 }
 
.work__title {
     font-family: 'Comfortaa';
     font-size: 1.5em;
     font-weight: bold;
     color: goldenrod;
     text-align: left !important;
 }
 
 .work__details {
     color: ghostwhite;
     text-align: justify;
     padding: 10px 0;
     font-family: 'Comfortaa';
     font-size: 14px;
 }
 
 .btn__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;

 }
 
 .btn__footer {
     width: 100px;
     padding: 7px 20px;
     border-radius: 0.3em;
     border: none;
     outline: none;
     background-color: #940253;
     color: ghostwhite;
     font-family: 'Comfortaa';
     text-decoration: none;
 }
 
 .btn__footer:hover {
     background-color: #FF1493;
    transition: all .3s ease;     
 }
 
/*--SUMMARY --*/

.summary {
    background-color: #101010;
    padding: 70px 0 100px 0;
    text-align: center;
}
.summary .section__content {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.summary .section__content h3 {
    font-family: 'Comfortaa';
    color: #bab9b9;
    font-size: 1.5em;    
}

.summary .section__content .info {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.summary .section__content .info .col {
    color: #d9ad26;
    width: 45%;
}

.summary .section__content .info .col .title {
    display: inline-block;
    color: #d9ad26;
    border: 0.5px solid #d9ad26;
    padding: 10px;
}

.summary .section__content .info .col table {
    margin-top: 30px;
    border-collapse: collapse;
}

.summary .section__content .info .col table .data {
    color: #bab9b9;
    font-family: 'Comfortaa';
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}

.summary .section__content .info .col table h4 {
    font-family: 'Comfortaa';
    color: #bab9b9;
    margin-top: 10px;
}

.summary .section__content .info .col table h3 {
    color: #bab9b9;
    font-family: 'Comfortaa';
    font-size: 20px;
    margin-bottom: 5px;
}

.summary .section__content .info .col table p {
    font-family: 'Comfortaa';
    color: #bab9b9;
    font-size: 14px;
}

.summary .section__content .info .col table .average {
    display: block;
    color: #bab9b9;
    margin-top: 10px;
    font-family: 'Comfortaa';
}

.summary .section__content .info .col table .description {
    color: #bab9b9;
    border-left: 1px solid #bab9b9;
    font-family: 'Comfortaa';
    padding-left: 20px;
}

/*--SECTION CONTACT ME --*/
.form__contact {
    background-color: #202020;
    padding: 70px 0 100px 0;
    text-align: center;
}

.form__contact .section__content {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.form__contact .section__content h2 {
    font-family: 'Comfortaa';
}

.form__contact .section__content h3 {
    padding-bottom: 15px;
    font-family: 'Comfortaa';
    color: #bab9b9;
}

.form__contact .section__content .form {
    border: 10px solid #000;
    border-radius: 0.5em;display: grid;
    grid-template-columns: 1fr;
}

.form__contact .section__content .form .form__logo {
    width: 70px;
    height: 70px;
    border: 1px solid #000; /* Color del borde, debe ser más oscuro que fondo */
	background: #000; /* Fondo */
	border-radius: 50%;  /* Bordes redondos */
	box-shadow: 0 0 35px #DAA520;
    display: flex;
    align-items: center;
    margin: 30px auto;
}

.form__contact .section__content .form .form__logo .text__logo {
    color:#DAA520;
    font-family: 'Comfortaa';
    font-size: 2em;
    font-weight: bold;
    align-items: center;
    margin: auto;
}

.form__contact .section__content {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.form__contact .section__content .form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

.form__contact .section__content .form .form-group .form-label {
    color: #bab9b9;
    text-align: left;
}

.form__contact .section__content .form .form-group .form-control {
    padding: 10px;
    background: #101010;
    outline: none;
    border: none;
    margin-top: 5px;
    color: #bab9b9;
    border-radius: 7px;
}

.form__contact .section__content .form .form__btn {
    border: none;
    width: 200px;
    padding: 15px 0;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0.5em;
    color: #d9ad26;
    background-color: #000;
    font-family: 'Comfortaa';
    font-size: 1em;
    cursor: pointer;    
}

.form__contact .section__content .form .form__btn:hover {
    background: #101010;
    color: #bab9b9;
    transition: all .3s ease-in-out;
    cursor: pointer;
    
}

.link__email {
    color: ghostwhite;
    text-decoration: none;
    font-family: 'Comfortaa';
}

.link__email:hover {
    color: lightcoral;

}


/*---------------------------------------------------------------------------------*/


/* -----------------------------------------SIT MAP------------------------------- */
.header__footer-content {
    background-color: #000; 
      
}
.site__map-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header__footer-content .site__map-container .links-item  {
    width: 100%;
    padding:20px 100px;
    display: flex;
    flex-direction: column;
    justify-content: left !important;
}

.header__footer-content .site__map-container .links-item .column__title {
    font-size: 1.5em;
    padding: 15px 0; 
    color: #d9ad26;   
}

.header__footer-content .site__map-container .certificates-item  {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header__footer-content .site__map-container .certificates-item .column__title {
    font-size: 1.5em;
    padding: 15px 0; 
    color: #d9ad26;   
}

.header__footer-content .site__map-container .works-item  {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header__footer-content .site__map-container .works-item .column__title {
    font-size: 1.5em;
    padding: 15px 0; 
    color: #d9ad26;   
}

.header__footer-content .site__map-container .contact-item  {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header__footer-content .site__map-container .contact-item .column__title {
    font-size: 1.5em;
    padding: 15px 0; 
    color: #d9ad26;   
}

.section__social {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 100px;
}

.header__footer-content .section__social {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}
.header__footer-content .section__social .social__networks a {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #C71585;
    border: 1px solid  #C71585;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    line-height: 40px;
    margin: 0 5px;
    transition: 0.3s;
    text-align: center;
}

.header__footer-content .section__social .social__networks a:hover {
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}

.header__footer-content .body__footer .col-menu {
    width: 25%;
    color: #d9ad26;
    text-align: left;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.menu-item {
    color: #bab9b9;
    text-decoration: none;
    font-family: 'Comfortaa';
}
.menu-item:hover {
    color: #d9ad26;
}

.header__footer-content .body__footer .col-formation {
    width: 25%;
    color: #d9ad26;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 15px;
}

.header__footer-content .body__footer .col-certificates{
    width: 25%;
    color: #d9ad26;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 15px;;
    
}
.header__footer-content .body__footer .col-works{
    width: 25%;
    color: #d9ad26;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 15px;
    
}

.header__footer-content .body__footer .col-contact {
    width: 33.33%;
    color: #d9ad26;
    text-align: left;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    
}
.icons-contact {
    display: flex;
    align-items: center;

}

.bx-whatsapp {
    color: #25d366;
    font-size: 1.4em;
}
.bx-email {
    color:  #2AABEE;
    font-size: 1.3em;
}
.bx-http {
    color:   #BD081C;
    font-size: 1.3em;
}

.bar__social {
    color: #d9ad26;
}

.span__footer {
    font-family: 'Comfortaa';
}
.section__social {
    width: 100%;
}

.header__footer-content .header__footer .social__networks {
    margin: 20px 0;
}

.header__footer-content .header__footer .social__networks a {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #C71585;
    border: 1px solid  #C71585;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    line-height: 40px;
    margin: 0 5px;
    transition: 0.3s;
   
}

.header__footer-content .header__footer .social__networks a:hover {
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}

.copyright {
    color: ghostwhite;
    padding: 15px 0;
    text-align: center;
}

.link__copyright {
    color: #d9ad26;
    text-decoration: none;
    font-family: 'Comfortaa';
}

.link__copyright:hover {
    color: ghostwhite;
    transition: all .3s ease;
}

/*------------------------------------------------------------------------------  */

.card {
    display: inline-block;
    position: relative;
    border: 2px solid #940253;
    border-radius: 0.5em;
  }
  
  .card img {
    width: 100%;
    /* height: auto; */
    transition: opacity 0.3s ease;
    padding: 7px;
  }
  
  .card-info {
    border-radius: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 10px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 2px solid #940253;
  }
  
  .card:hover img {
    opacity: 0.7;
  }
  
  .card:hover .card-info {
    transform: translateY(0);
    opacity: 1;
  }
  
  .card-info h4 {
    margin: 0;
    font-size: 18px;
  }
  
  .card-info p {
    margin: 5px 0;
  }
  
  .card-buttons {
    margin-top: 5px;
  }
  
  .card-buttons a {
    margin-right: 5px;
  }
  

/*--SECTION RESPONSIVE --*/
@media screen and (max-width:800px) {
    .skills .section__content .row {
        width: 100%;        
    }
    
    .aboutme .section__content .row {
        display: block;
    }
    
    .aboutme .section__content .row .col {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    
    .summary .section__content .info {
        display: block;
    }
    
    .summary .section__content .info .col {
        width: 90%;
        margin: auto;
    }
    
    .summary .section__content .info .col .title {
        display: block;
        text-align: center;
    }
    
    .summary .section__content .info .col table {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .contact .section__content .row {
        display: block;
    }
}

@media (max-width: 575.98px) {
    .site__map-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 30px;
    }
    
    .header__footer-content .site__map-container .links-item {
        padding: 20px;
    }
    .section__social {
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
        
    .header__footer-content .section__social .bar__social {
        padding-bottom: 25px;
    }
}


